.btn-load-more {
  display: block;
  padding: 10px;
  width: 150px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: rgb(72, 72, 213);
  border: none;
  border-radius: 5px;
}
