.container {
  width: 100%;
  height: 50px;
}

.search-form {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 100;
  justify-content: center;
  padding: 10px 0;
  background: radial-gradient(
    closest-side,
    rgb(125, 121, 202) 50%,
    rgb(154, 252, 80) 120%
  );
}

.container-form {
  position: relative;
}

.input-form {
  padding: 5px;
  outline: none;
  width: 260px;
  border: none;
  border-radius: 5px;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: inherit;
}

.icon-search {
  width: 15px;
  height: 15px;
  fill: rgba(102, 1, 255, 0.763);
  transition: transform 250ms;
}

.icon-search:hover {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.33);
}
